@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-screen-xl mx-auto px-4 xl:px-10;
  }

  .animation {
    @apply transform transition-all duration-200 ease-in;
  }
  .btn {
    @apply bg-blue rounded-xl text-white;
  }
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: ew-resize;
  box-shadow: none;
  background: #1a5cff;
}
